.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.226);
  z-index: 1200;
  backdrop-filter: blur(10px);
}

.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.Button {
  border: none;
  border-radius: var(--card-radius);
  padding: 5px 8px;
  outline: none;
  background-color: rgb(185, 28, 0);

  color: rgb(255, 255, 255);
  font-size: 12px;
  transition: all 250ms;
  position: absolute;
  right: 10px;
  top: 10px;
}

.Button:hover {
  box-shadow: 0 0 10px rgb(253, 38, 0);
  color: rgb(255, 255, 255);
  background: rgb(253, 38, 0);
}
